h2 {
  color: antiquewhite;
  text-align: center;
  margin: 0;
}
.galeria-horarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 2em;
}

.galeria-horarios img {
  max-width: 90%;
  max-height: 300px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  cursor: zoom-in;
  transition: transform 0.3s;
}

.galeria-horarios img:hover {
  transform: scale(1.03);
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  overflow: hidden;
  touch-action: none; /* Evita scroll accidental */
}

.modal img {
  max-width: none;
  max-height: none;
  width: 100%;
  height: auto;
  transform-origin: center center;
  touch-action: pinch-zoom; /* Permite solo zoom con dos dedos */
}


.oculto {
  display: none;
}
.bloque-imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.bloque-imagen img {
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.bloque-imagen input[type="file"] {
  padding: 0.5rem;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}
